<div class="post" *ngIf="post$ | async as post; else loading">
  <div class="header">
    <h1>{{ post.title }}</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>{{ post.author }}</strong>
    <small>{{ post.date | date: "medium":null:"ruId" }}</small>
  </div>

  <div>
    <quill-view-html [content]="post.text"></quill-view-html>
  </div>
</div>

<ng-template #loading>Загрузка...</ng-template>
