<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>
  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{ error }}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>
  <div class="form-control" [ngClass]="{ invalid: emailInvalid }">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div *ngIf="emailInvalid" class="validation">
      <small *ngIf="emailRequired"> Введите поле email </small>
      <small *ngIf="emailNotEmail"> Поле email должно быть email </small>
    </div>
  </div>

  <div class="form-control" [ngClass]="{ invalid: passwordInvalid }">
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password" />
    <div class="validation" *ngIf="passwordInvalid">
      <small *ngIf="passwordRequired"> Введите пароль </small>
      <small *ngIf="passwordMinlength">
        Пароль должен быть не менее
        {{ minLength }}
        символов.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >
    Войти
  </button>
</form>
